nav{
  height: 42px;
  background-color: darkseagreen;

}
nav ul {
  list-style: none;
}
nav ul li a{
  float: left;
  text-decoration: none;
  color: #3c3c3c;
  padding: 0px 230px;
  text-align: center;
  line-height: 42px;
  height: 42px;

}
nav ul li a:hover {
  background-color: aliceblue;
  border-radius: 8px;
  color: #0f0f0f;
}
