<! DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>

</head>


<body style="margin-top: 0" style="margin-left: 0" style="margin-right: 0">       <!--The content below is only a placeholder and can be replaced.-->




<div  class="banniere1" align="center"  >

  <br> <br> SYSTEME DE SUIVI ET D'EVALUATION DES <br>  PROGRAMMES & DES PROJETS PUBLICS </div>

<div  class="banniere2" align="center" > </div>
<div  class="banniere3" align="center" > </div>
<div  class="banniere4"  >
  <br />
  <fieldset style="background-color: white" class ="field">
    <div class="container" >
      <div class="panel panel-primary " >
        <div class="panel-heading " style="background-color: lightseagreen ">header</div>
        <br />
        <div class="panel-body"  style="margin-left: 50px" >
          <table>
            <tr>
              <td> <label for= "intitulé" class="coul">intitulé    :        </label>  </td>
              <td> <input type="text" size="30" maxlength="30" intitulé="fnom"  class="form-inline"/><br/><br/></td>
              <td><label for= "bail"  class="coul">bailleur de fond      :    </label> </td>
              <td> <input type="text" size="30"   nom="ref" class="form-inline" /><br/> <br/></td>
              <br/> <button type="submit" class="btn" style="background-color: lightseagreen" >Chercher</button>
            </tr>

            <tr>

              <td> <label for="ref"  class="coul">référence projet     :      </label> </td>
              <td> <input type="text" size="30" maxlength="30" nom="far" class="form-inline"/><br/> <br/> </td>
              <td>  <label for="refm"  class="coul" > référence Marché      :     </label> </td>
              <td> <input type="text" size="30" maxlength="30" nom="fad" class="form-inline"/><br/> <br/> </td>

            </tr>

          </table>
        </div>
      </div>
    </div>
  </fieldset>
  <br /> <br />

  <div style="background-color: white" class ="field2">
    <table border="1px"  >
      <style>
        table{border-collapse: collapse;}
      </style>
      <tr class="blanc">
        <td  colspan=11> Liste des Programmes/projets </td>

      </tr>
      <tr class="noir">
        <td> Numéro</td>
        <td> Référence </td>
        <td colspan=7> Intitulé </td>
        <td> Nature </td>
        <td> Programme/sous programme </td>

      </tr >
      <tr class="noir1">
        <td> 1 </td>
        <td> PROFITS </td>
        <td colspan=7>  projet de promotion des filiéres pour le développement territorial dans le gouvernourat de Siliana (PROFITS)</td>

        <td>Projet</td>
        <td>Sous-Proj_9.1</td>

      </tr>
    </table>
  </div>
  <br/> <br/>
  <fieldset style="background-color: white" class ="field">
    <div class="panel panel-default" ></div>
    <div class="panel-heading" style="background-color: lightseagreen ">Fiche Financement Extérier</div>
    <br />
    <div class="panel-body"  style="margin-left: 30px" >
      <table>
        <tr>
          <td colspan=1> <label for= "Référence"  style="color: lightseagreen">Référence <span style="color: red"> *</span> :        </label>  </td>
          <td colspan="4"> 2000001721 <br/><br/></td>
          <td><label for= "Nature :"  class="coul">Nature <span style="color: red"> *</span> :    </label> </td>
          <td> <select     style="width: 115px" class="form-inline"  name="nature">      <option selected="selected" value="s1">  pret   </option>  </select><br/> <br/></td>


        </tr>

        <tr>
          <td colspan=1> <label for="désignation : "  class="coul">désignation <span style="color: red"> *</span> :      </label> </td>
          <td colspan=8> <input type="text" size="130" maxlength="" nom="fad" class="form-inline" placeholder="pret FIDA"/><br/> <br/>

        </tr>
        <tr>
          <td colspan=1> <label for= "M" class="coul">Montant <span style="color: red"> *</span> :        </label>  </td>
          <td colspan=4> <input type="text" size="0" maxlength="30" int="fnom"  class="form-inline"/><br/></td>
          <td ><label for= "Mo :"  class="coul">Monnaie  <span style="color: red"> *</span> :    </label> </td>
          <td> <select     style="width: 115px" class="form-inline"  name="nature">      <option selected="selected" value="s1"> Euro </option>  </select><br/><br/></td>

          <br/>
        <tr>
          <td > <label for= "t" class="coul">Taux de Change <span style="color: red"> *</span> :        </label>  </td>
          <td colspan="4"> <input type="text" size="0" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul" style="color: lightseagreen">Montant en DTN:   </label> </td>
          <td> 51 008 983.200 <br/><br/></td>

        </tr>
        <br/>
        <tr> <td> <label for= "t" class="coul">Mantant Actualisé :    </label>  </td>
          <td colspan="4"> <input type="text" size="0" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date d'actualisation :   </label> </td>
          <td> <input type="text" size="8" maxlength="10" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr ><td> <label for= "bai" class="coul" style="color: lightseagreen">Mantant Actualisé en TND:  </label>  </td></tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Bailleur de fond <span style="color: red"> *</span> :  </label>  </td>
          <td > <select     style="width: 255px" class="form-inline"  name="nature">      <option selected="selected" value="s1"> Fond Internationnal de Dévéloppement  </option>  </select><br/><br/></td>
        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">N° Loi <span style="color: red"> *</span>:    </label>  </td>
          <td colspan="4"> <input type="text" size="25" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date Loi <span style="color: red"> *</span> :   </label> </td>
          <td> <input type="text" size="9" maxlength="" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Date Signature <span style="color: red"> *</span> :    </label>  </td>
          <td colspan="4"> <input type="text" size="10" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date Entrée en Vigueur <span style="color: red"> *</span>:   </label> </td>
          <td> <input type="text" size="9" maxlength="10" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Date Cloture <span style="color: red"> *</span> :  </label>  </td>
          <td colspan="4"> <input type="text" size="10" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date Cloture Actualisée :  </label> </td>
          <td> <input type="text" size="9" maxlength="10" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr ><td> <label for= "t" class="coul">Date Dernier Engagement :</label>  </td>
          <td colspan="4"> <input type="text" size="10" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date Dernier Engagement Actualisée : </label> </td>
          <td> <input type="text" size="9" maxlength="10" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Commission d'Engagement :  </label>  </td>
          <td> <input type="text" size="10" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Date Dernier Paiement <span style="color: red"> *</span>:</label>  </td>
          <td colspan="4"> <input type="text" size="10" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Date Dernier Paiement Actualisée : </label> </td>
          <td> <input type="text" size="9" maxlength="10" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <br/>
        <tr><td  colspan="4">     </td> <td>     </td>
          <td > <label for= "t" class="coul">taux D'intéret : </label>  </td>
          <td > <input type="text" size="7" maxlength="30" int="fnom"  class="form-inline"/><br/><br/></td>
        </tr>
        <br/>
        <tr><td> <label for= "t" class="coul">Observations :</label>  </td>
          <td colspan="4"> <input type="text" size="60" maxlength="100" int="fnom"  class="form-inline"/><br/><br/></td>
          <td><label for= "Mt :"  class="coul">Durée de Remboursement : </label> </td>
          <td> <input type="text" size="7" maxlength="7" int="fnom"  class="form-inline"/><br/><br/></td>

        </tr>
        <tr><td colspan="4">           </td>  <td>           </td>
          <td> <label for= "t" class="coul">Délai de Grace : </label>  </td>
          <td> <input type="text" size="7" maxlength="30" int="fnom"  class="form-inline" /><br/><br/></td><div >Mois</div>
        </tr>
        <br/><br/>


        <td colspan ="2"> </td>  <td> </td> <td> </td> <td> </td>
        <td colspan ="3" > <button type="submit" class="btn" style="background-color: lightseagreen" >Valider</button></td>
        <td >  <button type="submit" class="btn" style="background-color: lightseagreen" >Annuler</button></td>

      </table>
    </div>
  </fieldset>
</div>
</body>
</html>



