.banniere1 {
  width: 100%;
  height: 110px;
  background-color: lightgrey;
  text-align: center;

}
.banniere2 {

  width: 100%;
  height: 50px;
  background-color: lightseagreen;
}

.banniere3 {

  width: 100%;
  height: 30px;
  background-color:white;.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
}


.banniere4{
  height: 2000px;
  width: available;
  background-color : lightcyan;

}
.coul{color: lightseagreen;
}
.form-inline{border-color: lightseagreen;
  border-radius: 5px;
  background-color:lightcyan ;
}
.panel-heading{
  color:white;


}
.field{

  color: black;
}
.btn{
  border-radius: 3px;
  border-color: lightseagreen;
  color: white;
}
.field2 {
  margin-left: 200px;
  margin-right: 200px;
  color: lightseagreen;
}
.blanc{
  color:white;
  background-color: lightseagreen;
}
.noir{
  color:black;
  background-color: lightcyan;
}
.noir1{
  color:black;
  background-color: white;
}
